body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}
.container {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr; /* Updated to accommodate three columns */
    grid-gap: 20px;
}

.left-column, .middle-column { /* Corrected the selector */
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.scrollable-table {
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: auto; /* Enables vertical scrolling */
    border: 1px solid #ccc; /* Optional, adds a border around the scrollable area */
    margin-bottom: 20px; /* Provides spacing below the table */
}

.right-column table {
    width: 100%; /* Ensures the table uses the full width of its container */
    border-collapse: collapse; /* Optional, for better table border handling */
}

.right-column th, .right-column td {
    border: 1px solid #ddd; /* Optional, adds borders to cells */
    padding: 8px; /* Adjust padding for better cell spacing */
    text-align: left; /* Adjust text alignment as needed */
}

.merit-order-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Updated to accommodate three columns */
    grid-gap: 20px;
}

.plot-column {

    grid-column: 1 / -1;
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
h1, h2 {
    color: #0056b3;
}
form {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
    color: #666;
}
input[type="text"],
input[type="number"],
input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}
input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #218838;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1 {
    color: #0056b3;
}
form {
    margin-top: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
    color: #666;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f0f0f0;
}
