<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merit Order Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='student_style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Merit Order Game</h1>
        <p>
            The Merit Order Game is an educational simulation that teaches the dynamics of electricity markets.
            Players assume the roles of energy producers and consumers, making decisions that affect the market.
            Understand the impact of various energy sources and market strategies through interactive gameplay.
        </p>
        <h2>Proceed as:</h2>
        <div>
            <!-- Button for teachers -->
            <form action="/login" method="get">
                <input type="submit" value="Teacher">
            </form>

            <!-- Button for students -->
            <form action="/student" method="get">
                <input type="submit" value="Student">
            </form>
        </div>
    </div>
</body>
</html>
