<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student's View</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='student_style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Submit Your Bid</h1>
        <table>
            <tr>
                <th>Unit Name</th>
                <td>{{ assigned_power_plant['name'] }}</td>
            </tr>
            <tr>
                <th>Technology</th>
                <td>{{ assigned_power_plant['technology'] }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ assigned_power_plant['capacity'] }}</td>
            </tr>
            <tr>
                <th>Fuel Type</th>
                <td>{{ assigned_power_plant['fuel_type'] }}</td>
            </tr>
            <tr>
                <th>Variable Costs</th>
                <td>{{ assigned_power_plant['variable_cost'] }}</td>
            </tr>
            </table>
            <form action="/submit_bid" method="post">
            <label for="bid_power">Bid Volume (MW):</label>
            <input type="number" id="bid_power" name="bid_power" required value="1000">

            <label for="bid_price">Bid Price (€/MWh):</label>
            <input type="number" id="bid_price" name="bid_price" required>

            <label for="bid_type">Bid Type:</label>
            <div style="display: inline-block;">
                <input type="radio" id="buy" name="bid_type" value="buy">
                <label for="buy">Buy</label>
            </div>
            
            <div style="display: inline-block;">
                <input type="radio" id="sell" name="bid_type" value="sell" checked>
                <label for="sell">Sell</label>
            </div>
            <input type="submit" value="Submit Bid">
        </form>
        {% if session['submitted_bid'] %}
        <h2>Your Submitted Bid</h2>
        <p>Bid Power: {{ session['submitted_bid']['bid_power'] }}</p>
        <p>Bid Price: {{ session['submitted_bid']['bid_price'] }}</p>
        <p>Bid Type: {{ session['submitted_bid']['bid_type'] }}</p>
    {% endif %}
    </div>
</body>
</html>
