<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher's View</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Merit Order Market Clearing</h1>
    <div class="full-width">
        <h2>Merit Order Curve</h2>
        <!-- Plot container -->
        <div id="plot" style="width: 100%; height: 500px;"></div>
        <form action="/compute_price" method="post">
            <input type="submit" name="action" value="Compute Market Clearing Price">
        </form>
        <!-- Market Clearing Price Display -->
        <p id="marketClearingPrice" style="text-align: center; font-size: 20px;"></p>
    </div>

    <div class="container">
        <div class="left-column">
            <h2>Set Demand Level</h2>
            <form action="/set_demand" method="post">
                <label for="inelastic_demand_level">Inelastic Demand [MW]:</label>
                <input type="number" id="inelastic_demand_level" name="inelastic_demand_level" required>
                <input type="submit" value="Set Demand Level">
            </form>
            <h2>Demand Level: {{ inelastic_demand_level }}</h2>
        </div>
        <div class="middle-column">
            <h2>Set VRE Level</h2>
            <form action="/set_vre" method="post">
                <label for="vre_level">VRE Generation [MW]:</label>
                <input type="number" id="vre_level" name="vre_level" required>
                <input type="submit" value="Set VRE Level">
            </form>
            <h2>VRE Level: {{ vre_level }}</h2>
        </div>
        <div class="right-column">
            <h2>All Bids</h2>
            <div class="scrollable-table">
                <table>
                    <tr>
                        <th>Unit Name</th>
                        <th>Bid Volume [MW]</th>
                        <th>Bid Price [€/MWh]</th>
                        <th>Bid Type</th>
                    </tr>
                    {% for power_plant_name, bid_info in bids.items() %}
                    <tr>
                        <td>{{ power_plant_name }}</td>
                        <td>{{ bid_info['bid_power'] }}</td>
                        <td>{{ bid_info['bid_price'] }}</td>
                        <td>{{ bid_info['bid_type'] }}</td>
                    </tr>
                    {% endfor %}                    
                </table>
            </div>
            <div style="display: flex; gap: 10px; margin-top: 10px;">
                <form action="/reload_bids" method="post">
                    <input type="submit" value="Reload Bids">
                </form>
                <form action="/clear_bids" method="post">
                    <input type="submit" value="Clear Bids">
                </form>
            </div>
        </div>
    </div>
    
    <script>
        {% if submitted_bids %}
            var submittedBids = {{ submitted_bids | tojson }};
            var demandLevel = {{ demand_level }};
            var marketClearingPrice = {{ market_clearing_price }};
        {% endif %}

    </script>
    <script src="{{ url_for('static', filename='js/meritOrderPlot.js') }}"></script>
    </body>
</html>
